/* common */
body {
  padding-bottom: 400px;
}
* {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow-x: hidden;
}
@media (width <= 768px) {
  .wrapper {
    padding: 0 20px;
  }
}
h1 {
  margin-bottom: 1em;
  font-size: 2em;
}
h2 {
  text-align: center;
  font-weight: normal;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.carousel-wrapper {
  position: relative;
}
.carousel {
  height: 540px;
  margin-bottom: 3em;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}
.item__blue {
  background: rgb(68 174 255);
}
.item__red {
  background: rgb(248 82 1);
}
.item__yellow {
  background: rgb(255 213 27);
  color: #585858;
}
.item__purple {
  background: rgb(227, 72, 255);
}